bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/**/**/InstrunetDbSecret
InstrunetBackend.Server/lib/**/*
InstrunetBackend.Server/lib-runtime/**/*
InstrunetBackend.Server/Certs/**/*
.vs/
.idea/
flask_cache/
/InstrunetBackend.Server/NcmSecret
/InstrunetBackend.Server/config/config.json
/InstrunetBackend.Server/messages.json
**/.DS_Store
